# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Python Virtual Environments
project-1-trading-with-momentum/env

# Python Identifier
.ipynb_checkpoints
*Zone.Identifier

# Marked temp files/folders
temp
*.temp.*

